.card {
    transition: all 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  .card-text {
    text-align: center;
  }
  .card-body {
    text-align: center;
  }